<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LOGIN FAIL</title>
<style>

body
{
background-color: #18385C;

}
a{
font-weight:bold;
color:white;
text-decoration:none;
}

p
{
color:white;
font-weight:bold;
font-size:20px;
line-height:30px;

}
h1{
color:white;
font-weight:bold;
font-size:20px;
}
</style>
</head>
<body>
<p>"Unlock an ad-free, enhanced musical journey with exclusive features. Your support harmonizes with a richer, uninterrupted experience. Let the premium beats commence!"</p>
<h1>MAKE PAYMENT</h1>

</body>
</html>