<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Success Message</title>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

<!-- Container with Success Message and Claps Symbol -->
<div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-8 rounded-md text-center">
    <p class="text-lg font-semibold mb-2">Playlist created successfully</p>
    <span class="text-3xl">👏</span>
    <br>
    <a href="/createplaylist">To create more, Click here</a>
</div>

</body>
</html>
