<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REGISTER SUCCESS</title>
<style>
.container
{
	border:8px solid white;
	width:250px;
	height:100px;
	padding:20px;
	margin:200px 550px;
	border-radius:20px;

}
body
{
background-color: #18385C;

}
a{
font-weight:bold;
color:white;
text-decoration:none;
}

p
{
color:white;
font-weight:bold;
font-size:20px;
line-height:30px;

}
h1{
color:white;
font-weight:bold;
font-size:20px;
}
</style>
</head>
<body>
<p>"Welcome to the Symphony! Your registration is complete, and you're now officially part of our musical family. Get ready to amplify your experience and explore the endless melodies that await you."</p>
<div class="container">
<h1>You have registered successfully</h1>
<a href="/map-login">Click here to login</a>
</div>
</body>
</html>